html
    include includes/header.pug

    body( id="answers" )
        
        h1 Tavas atbildes

        .answers_wrapper
            //- .task.task_1
            //-     h2 1
            //-     .subtasks
            //-         .subtask.subtask1
            //-             span.subtask_nr 1
            //-             .subtask_answers 1,2,3
            //-         .subtask.subtask1
            //-             span.subtask_nr 2
            //-             .subtask_answers 2
            //-         .subtask.subtask1
            //-             span.subtask_nr 3
            //-             .subtask_answers 1,2,3,4,5,6,7

        

        div#screen-overlay.screen-overlay--hidden

        
        div( id="transition-overlay", class="transition-overlay--visible" )



        include includes/footer.pug