html
    include includes/header.pug

    body( id="answers" )
        
        h1 Tavas atbildes

        .answers_wrapper

        

        div#screen-overlay.screen-overlay--hidden

        
        div( id="transition-overlay", class="transition-overlay--visible" )



        include includes/footer.pug