html
    include includes/header.pug

    body( id="map", class="noScroll" )
        
        div#blur-wrapper.blur--hidden
            include includes/navbar.pug
                

            span.orientation-test Screen orientation is
    
            div#map-wrapper
                img( src="img/arrow.svg" class="map__arrow" )
                //- .map__radius--small
                img( src="img/coords.svg" class="map__coords" )
                span.coords Lon:0; Lat:0; Heading: 0;

                span#task_1.task.task--hidden 1
                span#task_2.task.task--hidden 2
                span#task_3.task.task--hidden 3
                span#task_4.task.task--hidden 4
                span#task_5.task.task--hidden 5
                span#task_6.task.task--hidden 6
                span#task_7.task.task--hidden 7
                span#task_8.task.task--hidden 8
                span#task_9.task.task--hidden 9
                span#task_10.task.task--hidden 10
                span#task_11.task.task--hidden 11

                button#m100 100m
                button#m1000 1000m
                button#m10000 10000m

        div#screen-overlay.screen-overlay--hidden

        include includes/modal_quit.pug
        include includes/modal_help.pug
        include includes/modal_tasks.pug
        
        div( id="transition-overlay", class="transition-overlay--visible" )



        include includes/footer.pug
        //- script( type="text/javascript", src="js/map.js" )