html
    include includes/header.pug
        
    body( id="task", class="noScroll", data-task="15" data-location="2" )


        include includes/modal_quit.pug
        include includes/modal_help.pug

        span.task-hint
            | Pieskaries, lai turpinātu

        .subtask.subtask_1
            .info-container
                .task-info
                    span.task-text.txt--justified
                        | Sameklējiet autobusa pieturai vistuvāk augošo koku!<br><br>
                        span.task-question Noskaidro, kā sauc šo koku!
                        span.task-desc 
                            | <i class="fas fa-tasks"></i>Izvēlies pareizo atbilžu variantu!
            
            .task-container.task-container--hidden
                .task-type-3
                    .wrapper.custom-grid-3
                        div( class="img-item img-item_1" data-item_id="1" ) 
                            p Baltais zīdkoks
                            .wrapper2
                                img( class="img--styled" src="img/tasks/15/img_item1.jpg" class="img_1_1" data-cont="Baltais zīdkoks" )
                                span.img-overlay.img-overlay--hidden

                        div( class="img-item img-item_2" data-item_id="2" ) 
                            p Parastā apse
                            .wrapper2
                                img( class="img--styled" src="img/tasks/15/img_item2.jpg" class="img_1_2" data-cont="Parastā apse" )
                                span.img-overlay.img-overlay--hidden

                        div( class="img-item img-item_3" data-item_id="3" ) 
                            p Parastais dižskābardis
                            .wrapper2
                                img( class="img--styled" src="img/tasks/15/img_item3.jpg" class="img_1_3" data-cont="Parastais dižskābardis" )
                                span.img-overlay.img-overlay--hidden

                        div( class="img-item img-item_4" data-item_id="4" ) 
                            p Parastā goba
                            .wrapper2
                                img( class="img--styled" src="img/tasks/15/img_item4.jpg" class="img_1_4" data-cont="Parastā goba" )
                                span.img-overlay.img-overlay--hidden

                    button( class="submit-task" data-task_id="15" ) Turpināt


        div#screen-overlay.screen-overlay--hidden

        
        
        div( id="transition-overlay", class="transition-overlay--visible" )

        include includes/footer.pug
