html
    include includes/header.pug
        
    body( id="task", class="noScroll", data-task="14" data-location="10" )


        include includes/modal_quit.pug
        include includes/modal_help.pug

        span.task-hint
            | Pieskaries, lai turpinātu

        .subtask.subtask_1
            .info-container
                .task-info
                    span.task-text.txt--justified
                        | Cieceres upe ir 51 km gara. Tā iztek no Cieceres ezera un ietek Ventā. Upes krastus Saldus teritorijā savieno 14 tilti – 5 no tiem ir ceļu tilti,  9 – gājēju tilti. <br><br>
                        | 17. gadsimtā Cieceres upe bijusi kuģojama. Hercoga Jēkaba valdīšanas laikā Ciecere izmantota produkcijas pārvadāšanai no dažādām Saldus apkārtnes ražotnēm. <br><br>
                        span.task-question Kuras no attēlos redzamajām zivīm nedzīvo Ciecerē?
                        span.task-desc 
                            | <i class="fas fa-tasks"></i>Izvēlies pareizo atbilžu variantu!
            
            .task-container.task-container--hidden
                .task-type-3.fish
                    .wrapper.txt--centered
                        div( class="img-item img-item_1" data-item_id="1" ) 
                            img( src="img/tasks/14/zivs0.jpg" class="img_1_1" data-cont="Asaris")
                            | Asaris
                            span.img-overlay.img-overlay--hidden 1

                        div( class="img-item img-item_2" data-item_id="2" ) 
                            img( src="img/tasks/14/zivs1.jpg" class="img_1_2" data-cont="Līdaka")
                            | Līdaka
                            span.img-overlay.img-overlay--hidden 1

                        div( class="img-item img-item_3" data-item_id="3" ) 
                            img( src="img/tasks/14/zivs2.jpg" class="img_1_3" data-cont="Rauda")
                            | Rauda
                            span.img-overlay.img-overlay--hidden 1

                        div( class="img-item img-item_4" data-item_id="4" ) 
                            img( src="img/tasks/14/zivs3.jpg" class="img_1_4" data-cont="Sams")
                            | Sams
                            span.img-overlay.img-overlay--hidden 1

                        div( class="img-item img-item_5" data-item_id="5" ) 
                            img( src="img/tasks/14/zivs4.jpg" class="img_1_5" data-cont="Vēdzele")
                            | Vēdzele
                            span.img-overlay.img-overlay--hidden 1
                        
                        div( class="img-item img-item_6" data-item_id="6" ) 
                            img( src="img/tasks/14/zivs5.jpg" class="img_1_6" data-cont="Ķīsis")
                            | Ķīsis
                            span.img-overlay.img-overlay--hidden 1

                        div( class="img-item img-item_7" data-item_id="7" ) 
                            img( src="img/tasks/14/zivs6.jpg" class="img_1_7" data-cont="Lasis")
                            | Lasis
                            span.img-overlay.img-overlay--hidden 1

                        div( class="img-item img-item_8" data-item_id="8" ) 
                            img( src="img/tasks/14/zivs7.jpg" class="img_1_8" data-cont="Alata")
                            | Alata
                            span.img-overlay.img-overlay--hidden 1

                        div( class="img-item img-item_9" data-item_id="9" ) 
                            img( src="img/tasks/14/zivs8.jpg" class="img_1_9" data-cont="Grundulis")
                            | Grundulis
                            span.img-overlay.img-overlay--hidden 1

                        div( class="img-item img-item_10" data-item_id="10" ) 
                            img( src="img/tasks/14/zivs9.jpg" class="img_1_10" data-cont="Akmeņgrauzis")
                            | Akmeņgrauzis
                            span.img-overlay.img-overlay--hidden 1


                    button( class="submit-task" data-task_id="14" ) Turpināt


        div#screen-overlay.screen-overlay--hidden

        
        
        div( id="transition-overlay", class="transition-overlay--visible" )

        include includes/footer.pug
