html
    include includes/header.pug
        
    body( id="task", class="noScroll", data-task="8" data-location="9" )


        include includes/modal_quit.pug
        include includes/modal_help.pug

        span.task-hint
            | Pieskaries, lai turpinātu

        .subtask.subtask_1
            .info-container
                .task-info
                    span.task-text.txt--justified
                        img( class="task-img task-img--no-shadow" src="img/tasks/8/info_item1.jpg")
                        | Lapegles ir sastopamas tikai ziemeļu puslodē. Atšķirībā no citiem skujkokiem, lapegles rudenī un ziemā nomet skujas. Lapegļu koksne ir vērtīga. To izmanto laivu būvēšanā. Latvijā aug vienīgi Eiropas lapegle. Lapegles mūža ilgums var sasniegt 600 gadu.<br><br>
                        
            .task-container.task-container--hidden
                .task-type-5
                    .info.txt--centered
                        img( class="task-img task-img--no-shadow" src="img/tasks/8/info_item2.jpg")
                        | Lapegļu sēklas ir ~3mm garš riekstiņš.<br>
                        | Šajā attēlā tās ir attēlotas palielinātas.<br>
                        span.task-question Cik 1 kilogramā aptuveni ir lapegļu sēklu?
                    .input-group
                        //- p.input-label Tava atbilde
                        input(type="number" placeholder="Ieraksti tikai skaitli" class="task-input")

                    button( class="submit-task" data-task_id="8" ) Turpināt


        div#screen-overlay.screen-overlay--hidden

        
        
        div( id="transition-overlay", class="transition-overlay--visible" )

        include includes/footer.pug
