html
    include includes/header.pug
        
    body( id="task", class="noScroll", data-task="11" data-location="5" )


        include includes/modal_quit.pug
        include includes/modal_help.pug


        .video-wrapper.video-wrapper--hidden
            span.close-video
                i( class="fas fa-times")
            video( controls )
                source( src="img/tasks/11/video_item1.mp4" type="video/mp4")

        span.task-hint
            | Pieskaries, lai turpinātu

        .subtask.subtask_1
            .info-container
                .task-info
                    span.task-text.txt--justified
                        button( class="watch-video-btn") Skatīties video
                        | Visiem vīngliemežiem čaula ir savīta uz labo pusi. Uz vairākiem tūkstošiem gliemežu var gadīties atrast vienu tādu, kuram čaula savīta uz pretējo pusi. Šis īpatnis ieguvis nosaukumu „gliemežu ķēniņš”. Jau izšķiļoties no oliņas „gliemežu ķēniņa” čaula ir savīta uz kreiso pusi. Gliemezim augot lielākam, čaulas vijumi spirālveidīgi turpina veidoties uz kreiso pusi. „Gliemežu ķēniņs” ir interesanta dabas parādība, bieži to neizdodas sastapt.<br><br>
                        | Tā kā gliemezis ir lēns, tas daudzām tautām simbolizē slinkumu un laiskumu.<br>
            
            .task-container.task-container--hidden
                .task-type-5
                    .info
                        | Gliemežu vidējais ātrums ir aptuveni 1,5 milimetri sekundē, tātad minūtē gliemezis spēj pārvarēt apmēram deviņus centimetrus.<br><br>
                        span.task-question Aprēķiniet, cik lielu attālumu(centimetros) gliemezis spēj pieveikt 1 stundas laikā?
                    .input-group
                        //- p.input-label Tava atbilde
                        input(type="number" placeholder="Ieraksti tikai skaitli (centimetri)" class="task-input")

                    button( class="submit-task" data-task_id="11" ) Turpināt


        div#screen-overlay.screen-overlay--hidden

        
        
        div( id="transition-overlay", class="transition-overlay--visible" )

        include includes/footer.pug
