html
    include includes/header.pug
        
    body( id="task", class="noScroll", data-task="13" )


        include includes/modal_quit.pug
        include includes/modal_help.pug

        span.task-hint
            | Pieskaries, lai turpinātu

        .subtask.subtask_1
            .info-container
                .task-info
                    span.task-text.txt--justified
                        | „Ko jūs prasāt man ēst, ja pagalmā liepa vēl pilna pumpuru?” tā reiz kāda nodzērusies daudzbērnu māmiņa savu plašo saimi sūtīja šķīt liepu pumpurus. Liepas barojuša ne tikai novārtā pamestos bērneļus, bet arī kara laikā glābusi daudzus no bada nāves. Mūsu senči no jaunajiem liepu dzinumiem vārījuši putru.<br><br>
                        | Daudzās zemēs, piemēram, Korejā un Tālajos Austrumos, liepas ir pierasts pārtikas augs. Lai arī mums ēst liepu pumpurus un lapas šķiet nepierasti, tomēr liepa dod veselīgu, bioloģiski aktīvām vielām un dzīviem vitamīniem bagātu ēdmaņu.<br><br>
                        | Pilsētu apstādījumos liepas tiek apzāģētas, tādējādi veidojot dekoratīvu formu.<br><br>
                        span.task-question Kurā laika posmā notiek koku apzāģēšana?
                        span.task-desc 
                            | <i class="fas fa-tasks"></i>Izvēlies pareizo atbilžu variantu!
            
            .task-container.task-container--hidden
                .task-type-2
                    .top
                        div( class="item item_1" data-item_id="1" ) 
                            span.content Ziemā
                            span.item_nr 1
                        div( class="item item_2" data-item_id="2" ) 
                            span.content Agri pavasarī
                            span.item_nr 2
                        div( class="item item_3" data-item_id="3" ) 
                            span.content Vēlu pavasarī
                            span.item_nr 3
                        div( class="item item_4" data-item_id="4" ) 
                            span.content Vasaras vidū)
                            span.item_nr 4
                        div( class="item item_5" data-item_id="5" ) 
                            span.content Vēlu rudenī
                            span.item_nr 5

                    button( class="submit-task" data-task_id="13" ) Turpināt


        div#screen-overlay.screen-overlay--hidden

        
        
        div( id="transition-overlay", class="transition-overlay--visible" )

        include includes/footer.pug
