html
    include includes/header.pug
        
    body( id="task", class="noScroll", data-task="7" data-task-type="1" )

        div#blur-wrapper.blur--hidden
            include includes/navbar.pug


        include includes/modal_quit.pug
        include includes/modal_help.pug

        span.task-hint
            | Pieskaries, lai turpinātu

        .subtask.subtask_1
            .info-container
                .task-info
                    span.task-text.txt--justified
                        | Grimonis ir košumkrūms, kas ir dekoratīvs un krāšņs dārza akcents gan vasarā, gan ziemā. Krūma krāsu klāsts ir ļoti plašs. Dzinumi parasti ir spilgti sarkani, bet tie mēdz būt arī dzeltenos un brūnos toņos. Lapas var būt sarkanas, balti vai dzelteni raibas un arī zaļganas.<br><br>
                        | Vēsture stāsta, ka:<br>
                        | • amerikāņu karavīri no grimoņu zaru mizas gatavojuši tēju, kas palīdzēja atvieglot sāpes un pazemināt temperatūru;<br>
                        | • no stingrajiem krūma zariem senāk izgatavoja iesmus un bultas;<br>
                        | • grimoņu kokogles savulaik esot bijušas labi piemērotas arī šaujampulvera izgatavošanai.<br><br>
                        | Krūma latīniskais nosaukums "cornus" nozīmē "rags". Kāpēc krūmam tika dots teši šāds apzīmējums?
                        span.task-desc 
                            | <i class="fas fa-tasks"></i>Izvēlies pareizo atbilžu variantu!
            
            .task-container.task-container--hidden
                .task-type-2
                    .top
                        div( class="item item_1" data-item_id="1" ) 
                            span.content Krūma krāsa ir līdzīga briežu ragu krāsai
                            span.item_nr 1
                        div( class="item item_2" data-item_id="2" ) 
                            span.content Krūms pievilina bites un kukaiņus
                            span.item_nr 2
                        div( class="item item_3" data-item_id="3" ) 
                            span.content Krūma zari ir cieti un izturīgi
                            span.item_nr 3
                        div( class="item item_4" data-item_id="4" ) 
                            span.content Krūma augļus ir iecienījuši putni
                            span.item_nr 4

                    button( class="submit-task" data-task_id="7" ) Turpināt


        div#screen-overlay.screen-overlay--hidden

        
        
        div( id="transition-overlay", class="transition-overlay--visible" )

        include includes/footer.pug
