%absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

%item-nr{
    position: absolute;
    left: -18px;
    top: -18px;
    width: 36px;
    height: 36px;
    border: 6px solid white;
    text-align: center;
    line-height: 36px;
    color: lighten(black,40);
    border-radius: 50%;
    font-weight: bold;
    background-color: darken(white,8);
    // transition: transform 300ms cubic-bezier(.75,-0.5,0,1.75);
    transition: transform 200ms ease-out;
}

%item-nr--hover{
    background-image: linear-gradient(to right, $gradient-begin,$gradient-end);
    color: white;
    transform: scale(1.2);
}

%modal{
    @extend %absolute-center;
    background-color: rgba(250,250,250,1);
    z-index: $z-modal;
}

// ============================================ OTHER

.img--styled{
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.img--styled2{
    border-radius: 4px;
    border: 2px solid gray;
}



// ========================================= SECTIONS

.section{
    min-width: 100vw;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

.noScroll{
    max-height: 100vh;
    height: 100vh;
    overflow: hidden;
}









// ========================================= TRANSITION

.transition-overlay{
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-transition;
    width: 100vw;
    height: 100vh;
    background-color: black;
    pointer-events: none;
    opacity: 0;
}

.transition-overlay--visible{
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-transition;
    width: 100vw;
    height: 100vh;
    background-color: black;
    pointer-events: none;
    opacity: 1;
}



// ========================================= SECTION

#section_splash{

    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: $z-splash !important;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;

    .splash_logo{
        width: 20vw;
        height: auto;
        margin-top: 5vw;
        transition-duration: $time_logo_fadein;
        &:first-child{
            margin-top: 0px;
        }
    }
    
}

#section_home{

    background-image: linear-gradient(to bottom, #96A2F1, #A1C4FD, rgba(255,255,255,0));
    display: flex;
    flex-direction: column;

    .title{
        text-transform: uppercase;
        color: white;
        position: absolute;
        display: block;
        left: 50%;
        top: 30vh;
        font-size: 12vw;
        white-space: nowrap;
        transform: translateX(-50%);
        font-family: $font-main;
    }

    .title__hint{
        Color: rgba(255,255,255,0.8);
        font-family: $font-secondary;
        position: absolute;
        left: 50%;
        top: 42vh;
        font-size: 4vw;
        white-space: nowrap;
        transform: translateX(-50%);
        animation: ease-in-out 2s blink infinite;
    }

    .sponsors{
        position: absolute;
        top: 2vh;
        display: flex;
        justify-content: space-around;
        background: white;
        padding: 1vw;
        left: 50%;
        width: 30vw;
        border-radius: 8px;
        transform: translateX(-50%);
        box-shadow: 0px 4px 4px rgba(0,0,0,0.2);

        img{
            height: 5vh;
            width: auto;
            margin-left: 1vw;
        }
    }

    .sky{flex-grow: 6;}
    .ground{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        bottom: 0vh;
        left: 5vw;
        .tree{
            max-width: 30vw;
        }
    }
    .ground-lvl2{
        position: absolute;
        bottom: -7vh;
        left: 10vw;
        max-height: 30vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        .tree{
            max-width: 40vw;
        }
    }
    .ground-lvl3{
        position: absolute;
        bottom: -8vh;
        left: -17vw;
        max-height: 30vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        .tree{
            max-width: 45vw;
        }
    }
    .grass{
        position: absolute;
        bottom: 0;
        width: 100vw;
        min-height: 13vh;
        background-color: #3B583D;
        max-height: 13vh;
    }

    @for $i from 1 through 11 {
        .t#{$i}{
            transform: rotateZ(4deg);
            animation: 3s ease-in-out $i*250ms infinite alternate tree-swing;
        }
    }
}






// ========================================= NAVBAR

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-navbar;
    width: 100vw;
    height: auto;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    font-family: $font-secondary;
    // padding: 2vw;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 3vw 4vw;
}










// ========================================= BLUR

#blur-wrapper{
    height: 100vh;
    z-index: $z-blur;
    filter: blur(10px);
}

.blur--hidden{
    filter: blur(0px) !important;
    background-color: transparent;
}








// ========================================= OVERLAY

#screen-overlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: $z-screen-overlay;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.6;
    transition: opacity $time_modal;
}

.screen-overlay--hidden{
    opacity: 0 !important;
    pointer-events: none;
}








// ========================================= TASKS & SUBTASKS

#task{
    // background-color: darken(white,1);
}

.task-info-late{
    position: absolute;
    top: 10vw;
    left: 10vw;
    width: 80vw;
    // border: 1px solid red;

    img{
        display: block;
        margin: auto;
        width: 100%;
        height: auto;
    }
}

.task-info-single{
    top: 10vw;
}

.info-img-title{
    width: 100%;
    display: block;
    text-align: center;
    font-weight: bold;
}

.subtask{
    position: absolute;
    top: 0;
    left: 0;
    .info-container{
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5vw 5vw;
        font-family: $font-secondary;
        line-height: 1.5em;
        font-size: 1.2em;
        text-align: justify;
        transition-duration: 0.5s;

        .task-info{
            max-width: 100%;
            box-sizing: border-box;
            .task-img{
                width: 100%;
                height: auto;
                border-radius: 2px;
                box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
                margin-bottom: 5vw;
            }
            .task-img--no-shadow{
                box-shadow: none;
            }
        }

        .task-desc{
            display: block;
            padding: 4vw 0;
            display: flex;
            align-items: center;
            justify-content: center;
            // border: 1px dashed lightgray;
            margin-top: 5vw;
            font-weight: bold;
            i{
                font-size: 2em;
                margin-right: 3vw;
            }
        }
    }
    .info-container--hidden{
        opacity: 0; transition-duration: 0.5s;
    }
    .task-container{
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5vw 10vw;
        font-family: $font-secondary;
        line-height: 1.5em;
        font-size: 1.2em;
        text-align: justify;
        opacity: 1;
        transition-duration: 0.5s;
    }
    .task-container--hidden{opacity: 0;}
}

// .subtask::after{
//     content: "";
//     background: url('img/tasks/10/img_item1.jpg');
//     opacity: 0.5;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     position: absolute;
//     pointer-events: none;
//     z-index: 10; 
// }

.subtask--hidden{
    display: none;
    pointer-events: none;
}

.task-hint{
    display: block;
    Color: rgba(0,0,0,0.9);
    font-family: $font-secondary;
    position: absolute;
    bottom: 10vw;
    left: 50%;
    z-index: $z-task-hint;
    // font-size: 1.2em;
    white-space: nowrap;
    transform: translateX(-50%);
    animation: ease-in-out 3s blink infinite;
    display: none;
}

.task-items--small{
    .top{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;
    }

    .bottom{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 2vw;
    }
}

.submit-task{
    position: absolute;
    bottom: 2vw;
    left: 2vw;
    width: 96vw;
    height: auto;
    padding: 2vw 4vw;
    text-align: center;
    color: white;
    background-image: linear-gradient(to left, $gradient-begin, $gradient-end);
    border: none;
    font-size: 1.2em;
    border-radius: 4px;
    outline: 0;

    *:focus, &:active{ 
        outline: 0;
        background-image: linear-gradient(to right, lighten($gradient-end,10), lighten($gradient-begin,10));
    }
}

.answers-btn{
    // position: absolute;
    // bottom: 2vw;
    // left: 2vw;
    width: 100%;
    height: auto;
    padding: 2vw 4vw;
    text-align: center;
    color: $gradient-begin;
    box-sizing: border-box;
    background-color: white;
    border: none;
    font-size: 1.2em;
    border-radius: 4px;
    outline: 0;
    display: block;
    font-family: $font-secondary;
    text-decoration: none;

    *:focus, &:active{ 
        outline: 0;
        background-color: rgb(237, 240, 246);
    }
}

.task-question{
    font-weight: bold;
}

.subtask--scrollable{
    //     overflow-y: scroll;
    //     height: 100vh;
    //     max-width: 100vw;
    //     box-sizing: border-box;
        .info-container{
            overflow-y: auto;
            width: 100%;
            height: 100vh;
            padding: 5vw 5vw;
            box-sizing: border-box;
            display: flex;
            align-items: unset;
            justify-content: center;
            font-family: $font-secondary;
            line-height: 1.5em;
            font-size: 1.2em;
            text-align: justify;
            transition-duration: 0.5s;
    
            .task-info{
                .task-img{
                    width: 100%;
                    height: auto;
                    border-radius: 2px;
                    box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
                    margin-bottom: 5vw;
                }
            }
    
            .task-desc{
                display: block;
                padding: 4vw 0;
                display: flex;
                align-items: center;
                justify-content: center;
                // border: 1px dashed lightgray;
                margin-top: 5vw;
                font-weight: bold;
                i{
                    font-size: 2em;
                    margin-right: 3vw;
                }
            }
        }
        .info-container--hidden{
            opacity: 0; transition-duration: 0.5s;
        }
        .task-container{
            width: 100vw;
            height: 100vh;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5vw 10vw;
            font-family: $font-secondary;
            line-height: 1.5em;
            font-size: 1.2em;
            text-align: justify;
            opacity: 1;
            transition-duration: 0.5s;
        }
        .task-container--hidden{opacity: 0;}   
    }




// ========================================= TASK TYPES

.task-type-1{
    display: flex;
    flex-direction: column;

    .top{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4vw;
        grid-row-gap: 4vw;
        margin-bottom: 5vw;
        .item{
            position: relative;
            display: flex;
            justify-content: center;
            // align-items: center;
            background-color: darken(white,2);
            padding: 5vw 0;
            border-radius: 4px;
            font-size: 1em;
            border: 4px solid transparent;

            .item_nr{
                @extend %item-nr;
            }
        }
        .item--selected{

            .item_nr{
                @extend %item-nr--hover;
            }
        }
    }
    .bottom{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 4vw;
        grid-row-gap: 2vw;

        .img-item{
            position: relative;
            overflow: hidden !important;
            max-height: 200px;
            img{
                width: 100%;
                border-radius: 4px;
                box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
                filter: brightness(100%);
                -webkit-filter: brightness(100%);
                transition-duration: 0.25s;
            }
        }
        .img-item--selected{
            img{
                filter: brightness(20%);
                -webkit-filter: brightness(20%);
            }
        }
        .img-overlay{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2em;
            opacity: 1;
            transition-duration: 0.25s;
        }
        .img-overlay--hidden{
            opacity: 0;
        }
    }
}

.task-type-2{
    display: flex;
    flex-direction: column;

    .top{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 5vw;

        .item{
            position: relative;
            display: flex;
            justify-content: center;
            // align-items: center;
            background-color: darken(white,2);
            padding: 5vw 7vw;
            border-radius: 4px;
            font-size: 1em;

            .item_nr{
                @extend %item-nr;
            }
        }
        .item--selected{
            // box-shadow: 0px 2px 2px rgba(0,0,0,0.1);

            .item_nr{
                @extend %item-nr--hover;
            }
        }
    }
}

.task-type-3{
    display: flex;
    flex-direction: column;

    .wrapper-title{
        text-align: center;
        font-size: 1.5em;
        color: #333;
        margin-bottom: 5vw;
    }

    .wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2vw;
        grid-row-gap: 2vw;

        .img-item{
            position: relative;
            overflow: hidden !important;
            max-height: 200px;
            img{
                width: 100%;
                border-radius: 4px;
                box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
                filter: brightness(100%);
                -webkit-filter: brightness(100%);
                transition-duration: 0.25s;
            }
        }
        .img-item--selected{
            img{
                filter: brightness(20%);
                -webkit-filter: brightness(20%);
            }
        }
        .img-overlay{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2em;
            opacity: 1;
            transition-duration: 0.25s;
        }
        .img-overlay--hidden{
            opacity: 0;
        }
    }
}

.task-type-4{

}

.task-type-5{
    width: 100%;

    display: flex;
    flex-direction: column;

    .info{
        flex-shrink: 1;
        // max-height: 40vh;
        margin-bottom: 15vw;

        img{
            width: 100%;
            height: auto;
        }
    }

    .input-label{
        color: gray;
    }

    input{
        // border: 2px solid transparent;
        border: 2px solid lightgray;
        outline: 0;
        width: 100%;
        padding: 2vw 3vw;
        font-size: 1.2em;
        box-sizing: border-box;
        border-radius: 4px;
        transition-duration: 0.5s;
        color: #333;
        
        &:hover, &:focus{
            outline: 0;
            border-color: $gradient-end;
            color: $gradient-end;
            box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
        }

        &:hover::placeholder{
            color: $gradient-end;
        }
    }

}




// ========================================= MAP

#map{
    background-image: radial-gradient(#ffffff,#CCD3FF);
}

#map-wrapper{
    width: 100%;
    height: 100%;
    position: relative;


    .task{
        background-image: linear-gradient(to right, $gradient-begin, $gradient-end);
        width: 8vw;
        height: 8vw;
        color: white;
        margin: auto;
        border-radius: 50%;
        text-align: center;
        line-height: 8vw;
        opacity: 0.8;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition-duration: 0.5s;
    }
    .task--hidden{opacity: 0;}
}

.map__arrow{
    @extend %absolute-center;
    transition-duration: 0.5s;
    width: 5vw; 
}
.map__coords{@extend %absolute-center;}
.coords{
    position: absolute;
    bottom: 5vw;
    left: 5vw;
    box-sizing: border-box;
    color: white;
    background-color: lighten(black,20);
    padding: 2vw;
    border-radius: 4px;
    text-align: center;
    font-family: $font-secondary;
    width: 90vw;
    z-index: 10;
}


#m25, #m100, #m1000{
    position: absolute;
    left: 5vw;
    color: white;
    background-image: linear-gradient(to left, $gradient-begin, $gradient-end);
    width: 14vw;
    padding: 2vw;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

#m25{bottom: 15vw};
#m100{bottom: 25vw};
#m1000{bottom: 35vw};

// ========================================= VIDEO

.watch-video-btn{
    width: 100%;
    height: auto;
    padding: 2vw 4vw;
    text-align: center;
    color: white;
    background-image: linear-gradient(to left, $gradient-begin--black, $gradient-end--black);
    border: none;
    font-size: 1.2em;
    border-radius: 4px;
    outline: 0;
    margin-bottom: 5vw;

    *:focus, &:active{ 
        outline: 0; 
        background-image: linear-gradient(to right, lighten($gradient-end--black,10), lighten($gradient-begin--black,10));
    }
    
}

.video-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: $z-video;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-out;
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    pointer-events: all;

    .close-video{
        position: absolute;
        right: 5vw;
        top: 5vw;
        color: white;
        font-size: 3em;
    }

    video{
        width: 100%;
    }
}

.video-wrapper--hidden{
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0;
}







// ========================================= GRIDS

.tasks-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 2vw;
    margin-bottom: 5vw;

    span{
        background-image: linear-gradient(to right, $gradient-begin--black, $gradient-end--black);
        width: 8vw;
        height: 8vw;
        color: white;
        margin: auto;
        border-radius: 50%;
        text-align: center;
        line-height: 8vw;
        opacity: 0.5;
    }

    .task--done{
        background-image: linear-gradient(to right, $gradient-begin, $gradient-end) !important;
        opacity: 1;
    }
}

.custom-grid-1{
    margin: 5vw 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2vw;
    .item{
        img{
            width: 100%;
            height: auto;
        }
        span{
            display: block;
            text-align: center;
            width: 100%;
        }
    }

}

.custom-grid-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2vw;
    margin-bottom: 2vw;
    img{
        width: 100%;
    }
}

.custom-grid-3{
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
    grid-column-gap: 5vw !important;
    grid-row-gap: 5vw !important;

    div{
        max-height: 400px !important;
        // padding: 4vw;
    }

    img{
        width: 100% !important;
    }

    p{
        text-align: center;
        margin-bottom: 2vw;
        font-weight: bold;
        color: lighten(black,10);
        // display: none;
    }

    span{
        line-height: 400px;
    }

    .wrapper2{
        position: relative;
    }
}

.fish,.candy{
    img{
        box-shadow: 0px 0px 8px rgba(0,0,0,0.5) !important;
        // border: 1px solid lightgrey;
    }
}

.fish{
    .img-overlay{
        height: 80% !important;
    }
}

.flags{
    .top, .bottom{
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
    }
}

.one-wide-item{
    grid-template-columns: 1fr !important;
}

.flowers{
    .wrapper{
        grid-template-columns: 1fr 1fr;
    }
}

// ========================================= BUTTONS

.button{
    border-radius: 4px;
    border: none;
    color: white;
    
    padding: 2vw 5vw;
    font-size: 2.5vw;
    outline: 0;

    &:hover, &:focus, &:active{
        outline: 0;
    }
}

.button--blue{
    background-image: linear-gradient(to right, $gradient-end, $gradient-begin);

    &:active, &:focus{
        background-image: linear-gradient(to right, lighten($gradient-end,10), lighten($gradient-begin,10));
    }
}
.button--black{
    background-image: linear-gradient(to right, $gradient-end--black,$gradient-begin--black);
    &:active, &:focus{
        outline: 0;
        background-image: linear-gradient(to right, lighten($gradient-end--black,10), lighten($gradient-begin--black,10));
    }
}
.button--wide{width: 100%;}

.unclickable{
    pointer-events: none;
    .item_nr{
        display: none;
    }
}



// ========================================= MODALS

.modal{
    @extend %modal;
    padding: 4vw;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.2);
    width: 70vw;
    transition: opacity $time_modal;

    .modal__title{
        font-family: $font-secondary;
        display: block;
        padding-top: 8vw;
        font-size: 4vw;
    }

    .modal__caption{
        font-family: $font-secondary;
        display: block;
        font-size: 2vw;
        opacity: 0.6;
        padding-bottom: 8vw;
    }

    .modal__content{
        font-family: $font-secondary;
        display: block;
        font-size: 2vw;
        opacity: 0.6;
        padding-bottom: 8vw;
    }

    .modal__button-group{
        width: 100%;
        display: flex;

        button{
            margin-right: 4vw;
            outline: 0;
        }
        button:last-child{
            margin-right: 0;
        }
    }
}

.modal--hidden{
    opacity: 0;
    pointer-events: none;
}



// ========================================= ANSWERS

#answers{
    padding: 5vw;
    background-image: linear-gradient(to right, $gradient-begin, $gradient-end);

    h1{
        text-align: center;
        font-size: 3em;
        font-family: $font-secondary;
        font-weight: normal;
        color: white;
        margin-bottom: 5vw;
    }

    h2{
        font-size: 1.5em;
        font-family: $font-secondary;
        font-weight: normal;
        flex-shrink: 1;
        background: white;
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
        text-align: center;
        line-height: 8vw;
        box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
        color: $gradient-begin;
        margin-right: 5vw;
    }

    h3{
        font-size: 1em;
        font-family: $font-secondary;
        font-weight: normal;
    }


    .answers_wrapper{
        // border: 1px solid red;

        .task{
            display: flex;
            align-items: center;
            margin-bottom: 5vw;
            
            .subtasks{
                flex-grow: 1;
            }
            
            .subtask{
                all: unset;
                display: flex;
                background: white;
                border: 1px solid darken(white,10);
                box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
                padding: 2vw;
                border-radius: 4px;
                margin: 1vw 0;


                .subtask_nr{
                    color: lighten(black,20);
                    font-family: $font-secondary;
                    font-size: 1em;
                    flex-grow: 1;
                }

                .subtask_answers{
                    color: lighten(black,20);
                    font-family: $font-secondary;
                    font-size: 1em;
                }
            }
        }

        .task::last-child{
            margin-bottom: 0;
        }
    }

}