@import 'reset';
@import 'variables';
@import 'helpers';
@import 'sections';


#home,#task,#map,#section_home,#blur-wrapper,#map-wrapper{
    overflow: hidden !important;
    max-height: 100vh;
    max-width: 100vw;
}

#task{
    max-height: 100vh;
}

