@import 'reset';
@import 'variables';
@import 'helpers';
@import 'sections';


#home,#task,#map{
    overflow: hidden !important;
    max-height: 100vh;
}

#task{
    max-height: 100vh;
}