div( id="modal-tasks", class="modal modal--hidden" )
    span( class="modal__title txt--centered" ) Tasks
    span( class="modal__caption txt--centered" ) Informācija par to, kā spēlēt spēli
    p.modal__content
        .tasks-grid
            span.task_1 1
            span.task_2 2
            span.task_3 3
            span.task_4 4
            span.task_5 5
            span.task_6 6
            span.task_7 7
            span.task_8 8
            span.task_9 9
            span.task_10 10
            span.task_11 11
            span.task_12 12
            span.task_13 13
            span.task_14 14
            span.task_15 15

    div.modal__button-group
        button( id="hide-tasks-modal", class="button button--blue button--wide" ) Atpakaļ