#section_splash
    img( class="splash_logo invisible splash_logo_0", src="img/cif.jpg" )
    img( class="splash_logo invisible splash_logo_1", src="img/saldus.jpg" )
    img( class="splash_logo invisible splash_logo_2", src="img/kn.jpg" )